<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>WEB MOBILE | Colorction</title>
    <meta charset="utf-8">
    <meta name="author" content="Henrique Grigolli">
    <meta name="tia" content="41821661">
    <meta name="turma" content="02J">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap" rel="stylesheet">
    <link href="../css/colorction.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section id="fundo">
      <header>
        <svg id="a" width="104mm" height="63.4mm" viewBox="0 0 104 63.4" xmlns="http://www.w3.org/2000/svg">
          <g id="b" transform="translate(-49.5 -109)">
            <g id="c" transform="translate(1.57 40)">
              <path id="d" d="m148 129c20-15.8-76.2 17.7-95.2-7.84-8.09-10.9-2.74-28.5 8.57-39.8 11.3-11.3 28.3-14.7 43.1-8.57 14.8 6.12 23.3 25 3.85 35.2" style="fill:none;paint-order:stroke fill markers;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#000"/>
              <text id="e" x="60.748039" y="121.51731" style="font-family:Forte;font-size:20.1px;line-height:1.25;stroke-width:.504" xml:space="preserve"><tspan id="f" x="60.748039" y="121.51731" style="font-family:Forte;stroke-width:.504">Colorction</tspan></text>
            </g>
          </g>
        </svg>
      </header>
      <div class="login">
        <h2>Bem vindo!</h2>
        <div>
          <form id="form-login" action="/login" method="post">
            <label for="username">Digite seu ID:</label>
            <input id="username" name="username" placeholder="Username" type="text"/>
            <button type="submit" form="form-login" value="Entrar">Entrar</button>
          </form>
        </div>
      </div>
    </section>
  </body>
  <script src="../js/colorction.js"></script>
</html>
