@import "base.css";

body {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

section {
  background-color: var(--lighter);
  padding: 40px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap
}

.login {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

hr {
  color: var(--darker);
}

footer {
  background-color: var(--medium);
  width: calc(100% + 80px);
  height: 70px;
  margin-left: -40px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

#amostra {
  background-color: var(--amostra);
  height: 50px;
}

input[type="file"] {
  display: none;
}

.outside-circle {
  height: 80px;
  width: 80px;
  background-color: var(--medium);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-circle {
  height: 60px;
  width: 60px;
  background-color: var(--bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inside-circle > span {
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  -webkit-mask-size: calc(100% - 15px);
  mask-size: calc(100% - 15px);
  -webkit-mask: url("../images/colorpicker.svg") no-repeat center;
  mask: url("../images/colorpicker.svg") no-repeat center;
  background-color: var(--dark);
}


main {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}


.mask {
  width: 130px;
  height: 130px;
  border: 1px black;
}

.mask1 {
  -webkit-mask: url("../images/blob/blob1.svg") no-repeat center;
  mask: url("../images/blob/blob1.svg") no-repeat center;
}

.mask2 {
  -webkit-mask: url("../images/blob/blob2.svg") no-repeat center;
  mask: url("../images/blob/blob2.svg") no-repeat center;
}

.mask3 {
  -webkit-mask: url("../images/blob/blob3.svg") no-repeat center;
  mask: url("../images/blob/blob3.svg") no-repeat center;
}

.mask4 {
  -webkit-mask: url("../images/blob/blob4.svg") no-repeat center;
  mask: url("../images/blob/blob4.svg") no-repeat center;
}

.mask5 {
  -webkit-mask: url("../images/blob/blob5.svg") no-repeat center;
  mask: url("../images/blob/blob5.svg") no-repeat center;
}

.mask6 {
  -webkit-mask: url("../images/blob/blob6.svg") no-repeat center;
  mask: url("../images/blob/blob6.svg") no-repeat center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
